<!DOCTYPE html>
<html>
<head>
    <title>Blog Content Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="content">
        <h1>{{ blog.title }}</h1>
        <p class="details">Date: {{ blog.date }} | Category: {{ blog.category }} | Processed: {% if blog.processed %}Yes{% else %}No{% endif %}</p>
        <p><a href="{{ blog.href}} " class="back-link">{{ blog.title }}</a></p>
        <p><a href="{{ blog.img_href }}" class="back-link">blog.img_href</a></p>
        <div class="article">
            {{ blog.article | safe }}
        </div>
    </div>

    <a href="{{ url_for('blog.index') }}" class="back-link">Back to List</a>
</body>
</html>
