<!DOCTYPE html>
<html>
<head>
    <title>Blog Content Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="content">
        <h1>{{ post.title }}</h1>
        <p class="details">Date: {{ post.date }} | Category: {{ post.category }} | Processed: {% if post.processed %}Yes{% else %}No{% endif %}</p>
        <p><a href="{{ post.href}} " class="back-link">{{ post.title }}</a></p>
        <p><a href="{{ post.img_href }}" class="back-link">post.img_href</a></p>
        <div class="article">
            {{ post.article | safe }}
        </div>
    </div>

    <a href="{{ url_for('blog.index') }}" class="back-link">Back to List</a>
</body>
</html>
