{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} The News Page {% endblock %}</h1></span>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <div class="content">
        <div>

            <div>
                <form method="POST" action="{{ url_for('news.push_news') }}">
                    <h2>This is the News Page
                        <input class="button" type="submit" value="Push News">
                    </h2>
                </form>

            </div>
<!--            <ul>-->
            <div class="item-list">
            {% for news in news_list %}
                <div class="item">
                    <h2>{{ news.title }}</h2>
                    <p class="date">Date: {{ news.date }}</p>
                    <p class="category">Category: {{ news.category }}</p>
                    <p class="status">Processed: {% if news.processed %}Yes{% else %}No{% endif %}</p>
                    <a href="{{ url_for('news.content', news_id=news.id) }}">Read More</a>
                </div>
            {% endfor %}
            </div>
<!--            </ul>-->

        </div>
    </div>

    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('news.index', page=page-1) }}">&lt; Previous</a>
        {% endif %}

        {% if page < total_pages %}
        <a href="{{ url_for('news.index', page=page+1) }}">Next &gt;</a>
        {% endif %}
    </div>


{% endblock %}